<DOCTYPE html>
<html> 
<head> 
      <link rel="stylesheet" href="../views/pag.css">
</head> 
<body>
    <div id="map">
   </div>  
<div id="param">
      <form method="post" id="filtere">
         <input name="Search" type="submit" value="Search"/>
      </form>
      <form method="post" id="charts">
        <input name="Chart" type="submit" value="Chart"/>
    </form>
         <form method="post" id="charts">
        <input name="Map" type="submit" value="Map"/>
    </form>
      <form action="../controllers/resetController.php">
         <input type="submit" value="RESET"/> 
      </form>
      <form method="post" action="filters.php">
      <select id="filter" name="filter">
         {% for value in values %}
        <option value="{{value}}">{{value}}</option>
         {% endfor %}
      </select>
      <input type="Submit" value="Submit"/>
      </form>
            {% for key,value in selects %}
      <form method="post">
         <label id="{{selects[key][0]}}">{{selects[key][0]}}</label>
         <select id="{{key}}" name="{{key}}" value="{{key}}"  onchange=this.form.submit()>
         {% for option in selects[key]["options"] %}
         <option value="{{option}}">{{option}}</option>
         {% endfor %}
         </select>
      </form>
      <form method="post">
      <input type="submit" class="closebtn" id="{{key}}close" name="{{key}}close" value="X">
      </form>
         {% if selects[key][-1]==true %}
         <form action="filters.php" method="post">
         {% if selects[key][-2]==true %}
         <input type="submit" id="{{key}}interval" name="{{key}}interval" style="color:red" disabled value="Between">
         {% else %}
                  <input type="submit" id="{{key}}interval" name="{{key}}interval" value="Between">
{% endif %}
         </form>
         {% endif %}
         {% endfor %}
      </div>

        <script>
        function initMap() {
            var mapInitPos = { lat: 25.344, lng: 131.036 };
            var points = [];
            var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 4, center: mapInitPos });
  
            var mapPoints=[];

function createMarker(coordonates,data){
                var content=data;
                var marker=new google.maps.Marker({
                    position: coordonates,
                    map: map
                });
                google.maps.event.addListener(marker,'click', function() {
                infowindow.setContent(content); 
                infowindow.open(map,marker);
                });
                return marker;}

  {% for coord in coords %}
  {% if coord["longitude"]==true and coord["latitude"]==true %}
      var long={{coord["longitude"]}};
      var lat={{coord["latitude"]}};
      var year={{coord["iyear"]}};
      var weapon="{{coord["weaptype1_txt"]}}";
     var infowindow = new google.maps.InfoWindow();
     var info="Year:"+year+" Weapon:"+weapon; 
     var coord=new google.maps.LatLng(lat,long);
     var pt = createMarker(coord,info);
     {% endif %}
    {% endfor %}
    
    }
    
    
    
  </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtKxEnjmFmud3qf7EQAxdvUyDGrbxhXeo&callback=initMap"></script>
        </body> 
        </html> 