<!DOCTYPE HTML>
<html lang="en">
   <head>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <link rel="stylesheet" href="../views/pag.css">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>
         Lista
      </title>
   </head>
   <body>
      <div id="param">
      <form method="post" id="filtere">
         <input name="Search" type="submit" value="Search"/>
      </form>
      <form method="post" id="charts">
        <input name="Chart" type="submit" value="Chart"/>
    </form>
     <form method="post" id="charts">
        <input name="Map" type="submit" value="Map"/>
    </form>
      <form action="../controllers/resetController.php">
         <input type="submit" value="RESET"/> 
      </form>
      <form method="post" action="filters.php">
      <select id="filter" name="filter">
         {% for value in values %}
        <option value="{{value}}">{{value}}</option>
         {% endfor %}
      </select>
      <input type="Submit" value="Submit"/>
      </form>
            {% for key,value in selects %}
      <form method="post">
         <label id="{{selects[key][0]}}">{{selects[key][0]}}</label>
         <select id="{{key}}" name="{{key}}" value="{{key}}"  onchange=this.form.submit()>
         {% for option in selects[key]["options"] %}
         <option value="{{option}}">{{option}}</option>
         {% endfor %}
         </select>
      </form>
      <form method="post">
      <input type="submit" class="closebtn" id="{{key}}close" name="{{key}}close" value="X">
      </form>
         {% if selects[key][-1]==true %}
         <form action="filters.php" method="post">
         {% if selects[key][-2]==true %}
         <input type="submit" id="{{key}}interval" name="{{key}}interval" style="color:red" disabled value="Between">
         {% else %}
                  <input type="submit" id="{{key}}interval" name="{{key}}interval" value="Between">
{% endif %}
         </form>
         {% endif %}
         {% endfor %}
      </div>
      <table id="list">
      <tr id="cap">
      {% for key,value in tables[0] %}
      <th>{{key}}</th>
      {% endfor %}
      {% for item in tables %}
      <tr>
      {% for key,value in item %}
      <td>{{value}}</td>
      {% endfor %}
      </tr>
      {% endfor %}
      </tr>
      </table>
   </body>
</html>