<!DOCTYPE HTML>
<html lang="en">
   <head>
   
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <link rel="stylesheet" href="../views/pag.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
         Lista
      </title>
   </head>
   <body  style = "background-color:white;">
<header>
<div class="container_menu">
            <nav class="nav">
               <a href="index.php" class="logo"><img src="../views/assets/logo.png" alt=""></a>
            </nav>
            </div>
      </header>
  <div class="footer">
<div class="footer-content">
<div id="param" >

    
      <form method="post" id="filtere">
         <input name="Search" type="submit" value="Search" class="btn cta-btn"/>
      </form>

      <form method="post" id="charts">
        <input name="Chart" type="submit" value="Chart" class="btn cta-btn"/>
      </form>

       <form method="post" id="bar_charts">
        <input name="BarChart" type="submit" value="Bar Chart" class="btn cta-btn"/>
      </form>

       <form method="post" id="scatter_charts" >
        <input name="ScatterChart" type="submit" value="Scatter Chart" class="btn cta-btn"/>
      </form>

       <form method="post" id="pie_charts">
        <input name="PieChart" type="submit" value="Pie Chart" class="btn cta-btn"/>
      </form>

      <form method="post" id="charts">
        <input name="Map" type="submit" value="Map" class="btn cta-btn"/>
        	
      </form>
      <form method="post" id="CSV">
        <input name="CSV" type="submit" value="CSV" class="btn cta-btn"/>
      </form>
      <form method="post" id="PNG">
        <input name="PNG" type="submit" value="PNG" class="btn cta-btn"/>
      </form>

      <form action="../controllers/resetController.php">
         <input type="submit" value="RESET" class="btn cta-btn"/> 
      </form>
      

      <form method="post" action="filters.php">
      <select id="filter" name="filter" class = "box">
         {% for value in values %}
        <option value="{{value}}">{{value}} </option>
         {% endfor %}
    
      </select>
      
      <input type="Submit" value="Submit" class="btn cta-btn"/>
      </form>  
            {% for key,value in selects %}
      <form method="post">
         <label id="{{selects[key][0]}}" class = "btn cta-btn">{{selects[key][0]}}</label>
         <select id="{{key}}" name="{{key}}" value="{{key}}"  onchange=this.form.submit() class = "box">
         {% for option in selects[key]["options"] %}
         <option value="{{option}}">{{option}} </option>
         {% endfor %}
         </select>
      </form>
      <form method="post">
      <input type="submit" class="closebtn" class="btn cta-btn" id="{{key}}close" name="{{key}}close" value="X">
      </form>
         {% if selects[key][-1]==true %}
         <form action="filters.php" method="post">
         {% if selects[key][-2]==true %}
         <input type="submit" id="{{key}}interval" name="{{key}}interval" class="btn cta-btn" style="color:red" disabled value="Between">
         {% else %}
                  <input type="submit" id="{{key}}interval" class="btn cta-btn" name="{{key}}interval" value="Between">
         {% endif %}
         </form>
         {% endif %}
         {% endfor %}
      </div>
	  
     
	</div></div>
</div>
    <div class="map" id = "map">
    <table id="list" class = "map">
      <tr id="cap">
      {% for key,value in tables[0] %}
      <th>{{key}}</th>
      {% endfor %}
      {% for item in tables %}
      <tr>
      {% for key,value in item %}
      <td>{{value}}</td>
      {% endfor %}
      </tr>
      {% endfor %}
      </tr>
      </table>
   <div class="wrapper_selects" id = "wrapper_selects">
  
   
   </body>
</html>